.html{
    font-size: 100%;
}

body{
    background-color: #212529;
}

.carousel-big{
    
}

@media (max-width: 1200px) {

    .image-main{
        width: 1200px;
        overflow: hidden;
    }

} 

@media (min-width: 1200px) {
    .image-main{
        width: 100%;
        overflow: hidden;
    }
}

.label{
    /* */
}

.border{
    border: crimson;
    color: white;
}

.text-main{
    position: absolute;
    z-index: 2;
    margin: 8.5% auto;
    height: 50%;
}

.row-trending{
    padding-bottom: 1rem;
}


.text-trending{
    padding-left: 1rem;
}
/*
.title-trending{
    font-size: 5px;
}
*/
.image-trending{
   width: 8rem;
   /*max-width: 100%;
   height: auto;*/
}

.carrusel-trending-background{
    background-color: #212529;
}

.size{
    font-size: 100%;
}

.updates{

}

.text-destacated{
    position: absolute;
}

.label-news-secondary{
    position: absolute;
}

.container-fluid{
    padding: 0px;
}

.img-updates-destacated{
    object-fit: cover;
    width: 99%;
}

.updates-ad{
    width: 100%;
}

.editor{
    background-color: white;
    border-radius: 2px;
}

.sizePage{
    height: 100%;
}