<<<<<<< HEAD

{{#each tags}}
    <h4>{{this.tag}}</h4><br>
    <h4>{{this.descripcion }}</h4>
{{/each}}
=======
<div class="text-white">
    <h1>{{articulos.titulo}}</h1>
    <h2>Nombre</h2>
    <h3>Fecha</h3>
    {{#each tags}}
    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title={{this.descripcion}}>
        {{this.tag}}
    </button>
    {{/each}}
    <p>Blob</p>
</div>
>>>>>>> master
