<!-- Carousel trending -->
<div id="carouselTrending" class="carousel slide carrusel-trending-background" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselTrending" data-slide-to="0" class="active"></li>
        <li data-target="#carouselTrending" data-slide-to="1"></li>
        <li data-target="#carouselTrending" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row row-trending">
                {{>element-trending}}
            </div>
            <div class="row row-trending">
                {{>element-trending}}
            </div>
            <div class="row row-trending">
                {{>element-trending}}
            </div>

        </div>
        <div class="carousel-item">
            <div class="row row-trending">
                {{>element-trending}}
            </div>

            <div class="row row-trending">
                {{>element-trending}}
            </div>

            <div class="row row-trending">
                {{>element-trending}}
            </div>
        </div>
        <div class="carousel-item">

            <div class="row row-trending">
                {{>element-trending}}
            </div>
            <div class="row row-trending">
                {{>element-trending}}
            </div>
            <div class="row row-trending">
                {{>element-trending}}
            </div>

        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselTrending" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselTrending" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>