<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/create-user" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="Nombre">
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="surname" placeholder="Apellido">
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="image">
                        </div>

                        <div class="form-group">
                            <input class="form-control" name="nick" type="text" name="nick" placeholder="Nick name">
                        </div>
                        
                        <div class="form-group">
                            <input class="form-control" name="email" type="email" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <input class="form-control" name="password" type="password" placeholder="Contraseña" >
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Confirmar Contraseña">
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripcion Personal:</label>
                            <textarea class="form-control" name="description" id="descripcion" cols="30" rows="10">
                            </textarea>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Registrarse</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>