<div class="row border">
    <div class="col-sm-8 col-md-7 offset-md-1">
        {{>menu-secondary}}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </ul>
        </nav>
    </div>
    <div class="col-sm-4 col-md-3">

    </div>
    <div class="offset-md-1">

    </div>
</div>