<div class="row">
    <div class="col-6">
        <img src="/img/menu-1.jpg" alt="">
    </div>
    <div class="col-6 text-white">
        <h3>Tags</h6>
        <h2>Titulo del Articulo</h2>
        <h6>Escrito por alguien un dia</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, accusantium.</p>
    </div>
</div>