<div class="container-fluid">
    <div class="container-fluid text-main d-flex align-items-sm-center">
        <div class="row container-fluid justify-content-between">
            <!-- Carousel principal -->
            <div class="col-xs-12 col-sm-6 offset-md-1 col-md-4 offset-xl-2 col-xl-3 border">
                <div class="label-main">
                    <h3>Tags</h3>
                </div>
                <div class="title-main">
                    <h1>Titulo del Articulo</h1>
                </div>
                <div class="author-main">
                    <h6>Escrito por Alguien un dia</h6>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 offset-md-1 col-md-5 offset-xl-1 col-xl-4 border">
                <!-- Carrusel aca kpo -->
                {{>trending-carrousel}}
            </div>
            <div class="offset-md-1"></div>
        </div>
    </div>

    <!-- Carousel -->
    <div class="carousel-big">
        <div id="carouselMain" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner ">
                <!-- Item Carousel -->
                <div class="carousel-item active">
                    <img src="/img/carousel-1.jpg" class="mx-auto d-block image-main" alt="...">
                </div>

                <!-- Item Carousel -->
                <div class="carousel-item">
                    <img src="/img/carousel-2.jpg" class="mx-auto d-block image-main" alt="...">
                </div>

                <!-- Item Carousel -->
                <div class="carousel-item">
                    <img src="/img/carousel-3.jpg" class="mx-auto d-block image-main" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>