<!-- Imagen -->
<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <img class="img-fluid rounded float-left image-trending" src="img/trending-1.jpg" alt="">
</div>
<!-- Texto -->
<div class="col-xs-6 col-sm-8 col-md-8 col-lg-8 col-xl-8 text-trending">
    <div class="title-trending">
        <b class="size">Titulo del Articulo</b>
    </div>
    <div class="author-trending">
        <p class="size">Escrito por Alguien un dia</p>
    </div>
</div>