<div class="social-buttons">
    <button type="button" class="btn btn-primary btn-lg btn-block">Facebook <span class="badge badge-secondary">New</span></button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Twitter <span class="badge badge-secondary">New</span></button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Steam Curator <span class="badge badge-secondary">New</span></button>
    <button type="button" class="btn btn-primary btn-lg btn-block">TuVieja.com <span class="badge badge-secondary">New</span></button>
</div>