<h1>Noticias</h1>
<div class="news-destacated d-flex align-items-end">

    <img src="/img/cg-1.jpg" class="img-updates-destacated" alt="">

    <div class="text-destacated">
        <div class="label-news-destacated">
            <h3>Tags</h3>
        </div>
        <div class="title-news-destacated">
            <h1>Titulo del Articulo</h1>
        </div>
        <div class="author-news-destacated">
            <h6>Escrito por Alguien un dia</h6>
        </div>
    </div>
</div>