<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.0.0/quill.bubble.css" rel="stylesheet">
    <title>Critic 4ll</title>
</head>

<body>

    <!-- Banner -->
    <div class="container-fluid">
        <img src="/img/logo.png" alt="">
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="#">
            <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="" loading="lazy">
        </a>
        <!-- Boton Colapsable -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav">

                <!-- Boton -->
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                </li>

                <!-- Boton -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Anime</a>
                </li>

                <!-- Boton -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Peliculas</a>
                </li>

                <!-- Boton -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Series</a>
                </li>

                <!-- Boton -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Comics</a>
                </li>

                <!-- Boton -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Manga</a>
                </li>

                <!-- Boton -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Videojuegos</a>
                </li>
            </ul>
        </div>
    </nav>

    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="//cdn.quilljs.com/1.0.0/quill.min.js"></script>
    <script src="/js/load-quill.js"></script>
</body>

</html>